@import 'variables.less';
header #main-nav a {
	font-size: 14px;
}
header #main-nav ul.main-level {
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        li {
            a {
                font-size: 12px;
            }
            ul.sub-level li a {
                font-size: 12px;
            }
        }
    }
}
.btn {
	font-size: 14px;
}
.spot-marketing .item {
    h3 {
        font-size: 30px;
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
        h3 {
            font-size: 25px;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h3 {
            font-size: 20px;
        }
    }
}
#professional-durability {
    h1 {
        color: @red;
    }
}
#accessories {
    h1 {
        font-size: 60px;
    }
    @media (max-width:@screen-lg-max) and (min-width:@screen-lg-min) {
        h1 {
            font-size: 60px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
        h1 {
            font-size: 45px;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h1 {
            font-size: 40px;
        }
    }
}
#accessories-page .accessory {
    h3 {
        max-width: none !important;
    }
    table {
        th {
            font-size: 22px;

            span {
                display: block;
            }
            .half {
                font-size: 20px;
            }
        }
        th.split {
            padding-left: 20px;
            padding-right: 20px;
        }
        td {
            font-size: 22px;
        }
        td:first-child {
            font-size: 22px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
        table {
            th {
                font-size: 18px;

                .half {
                    font-size: 18px;
                }
            }
            td {
                font-size: 18px !important;
            }
        }
    }
}