@import 'variables.less';
header #main-nav a {
	font-size: 14px;
}
header #main-nav ul.main-level {
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        li {
            a {
                font-size: 12px;
            }
            ul.sub-level li a {
                font-size: 12px;
            }
        }
    }
}
.btn {
	font-size: 14px;
}
#professional-durability {
    h1 {
        color: @red;
    }
}
#accessories {
    h1 {
        font-size: 60px;
    }
    @media (max-width:@screen-lg-max) and (min-width:@screen-lg-min) {
        h1 {
            font-size: 60px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
        h1 {
            font-size: 45px;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h1 {
            font-size: 40px;
        }
    }
}