@import '../vendor/bootstrap/less/bootstrap.less';
@import 'variables.less';

@font-face {
    font-family: 'Helvetica Neue Cn';
    src: url(/fonts/HelveticaNeue/HelveticaNeue-CondensedBlack.ttf) format('truetype'),
    url(/fonts/HelveticaNeue/HelveticaNeue-CondensedBlack.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Cn';
    src: url(/fonts/HelveticaNeue/HelveticaNeue-CondensedBold.ttf) format('truetype'),
    url(/fonts/HelveticaNeue/HelveticaNeue-CondensedBold.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Cn';
    src: url(/fonts/HelveticaNeue/HelveticaNeueLTStd-LtCn.ttf) format('truetype'),
    url(/fonts/HelveticaNeue/HelveticaNeueLTStd-LtCn.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

.antialiased() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.subpixel() {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

.sans() {
    font-family: Arial, sans-serif;
}
.sans2() {
    font-family: "Helvetica Neue Cn", Arial, sans-serif;
    font-weight: 900;
}

.stroke(@color) {
    @newcolor: darken(@color, 2.5%);
    text-shadow: 0 0 3px @newcolor,
                 -1px -1px 2px @newcolor,
                 1px -1px 2px @newcolor,
                 -1px 1px 2px @newcolor,
                 1px 1px 2px @newcolor,
                 -2px -2px 1px @newcolor,
                 2px -2px 1px @newcolor,
                 -2px 2px 1px @newcolor,
                 2px 2px 1px @newcolor;
    letter-spacing: 2px;
}

@media (max-width:@screen-tb-max) {
    .desktop {
        display: none !important;
    }
}
@media (min-width:@screen-sm-min) {
    .mobile {
        display: none !important;
    }
}
@media (max-width:@screen-mb-max) {
    .desktop-sm {
        display: none !important;
    }
}
@media (min-width:@screen-tb-min) {
    .mobile-sm {
        display: none !important;
    }
}

body {
    box-sizing: border-box;
    background: url(/images/bg-metal-thin.jpg) left top repeat;
    position: relative;
    left: 0;
    webkit-transition: left 0.35s linear;
    -moz-transition: left 0.35s linear;
    -o-transition: left 0.35s linear;
    transition: left 0.35s linear;
}
body * {
    box-sizing: inherit;
}
body.expanded {
    left: @mb-menu-width;
}
.container {
    @media (min-width:@screen-xl-min) {
        width: 1300px;
        padding-right: 0;
        padding-left: 0;
    }
}
.wrap {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
}

p, li, span, a, div {
    line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6, td, th {
    line-height: 1em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

.content {
    background: @white;
    padding-bottom: 15px;

    h2 {
        .sans2;
        color: @black;
        font-size: 36px;
        margin-bottom: 15px;
    }
    h3 {
        .sans2;
        color: @green;
        .antialiased;
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    p, li {
        .sans2;
        color: @black;
        font-size: 28px;
        font-weight: 800;
        line-height: 1.3em;

        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            font-size: 22px;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h2 {
            font-ize: 26px;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 20px;
        }
    }
    @media (max-width:@screen-tb-max) {
        padding-bottom: 0;

        h3 {
            font-size: 20px;
        }
        p {
            font-size: 18px;
        }
    }
}

.btn {
    display: inline-block;
    background: @gray;
    box-shadow: 0 6px 0 darken(@gray, 20%);
    color: @white;
    .sans;
    font-weight: bold;
    .antialiased;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 14px 50px;
    text-decoration: none;
    border: none;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    transition: 0.15s linear;

    &:hover, &:focus {
        background: lighten(@gray, 10%);
        box-shadow: 0 8px 0 lighten(darken(@gray, 20%), 10%);
        color: @white;
    }
}
.btn-red {
    background: @red;
    box-shadow: 0 6px 0 @darkred;
    &:hover, &:focus {
        background: darken(@red, 15%);
        box-shadow: 0 6px 0 darken(@darkred, 15%);
    }
}
.btn-green {
    background: @green;
    box-shadow: 0 6px 0 @darkgreen;
    &:hover, &:focus {
        background: darken(@green, 15%);
        box-shadow: 0 6px 0 darken(@darkgreen, 15%);
    }
}
.btn-green-dark {
    background: #2c871f;
    box-shadow: 0 6px 0 #1c6411;
    &:hover, &:focus {
        background: darken(#2c871f, 15%);
        box-shadow: 0 6px 0 darken(#1c6411, 15%);
    }
}
.social {
    display: inline-block;

    li {
        display: inline-block;
        margin: 0 4px;

        a {
            display: block;
            background: url(/images/social_sprite.png) no-repeat transparent;
            height: 43px;
            width: 43px;
        }
        a.facebook {
            background-position: 0 0;
        }
        a.youtube {
            background-position: 0 -50px;
        }
        a.instagram {
            background-position: 0 -100px;
        }
    }
}

.fade-under {
    box-shadow: 0 10px 20px rgba(0,0,0,0.07);
    margin-bottom: 35px;
    padding: 55px 0 35px;

    h1 {
        font-size: 60px;
        .sans2;
        color: @red;
        text-transform: uppercase;

        span {
            line-height: 1em;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h1 {
            font-size: 45px;
        }
    }
    @media (max-width:@screen-tb-max) {
        padding: 25px 0 20px;
        margin-bottom: 20px;

        h1 {
            font-size: 25px;
        }
    }
}

#header-top {
    background: url(/images/bg-red.jpg) 0 0 no-repeat @red;
    background-size: cover;
    padding: 20px 0 0;
    padding-bottom: 25px;
    webkit-transition: padding-bottom 0.2s linear;
    -moz-transition: padding-bottom 0.2s linear;
    -o-transition: padding-bottom 0.2s linear;
    transition: padding-bottom 0.2s linear;
}
@media (max-width:@screen-tb-max) {
    header #header-top {
        padding: 16px 0 8px;
        border-bottom: 7px solid @black;
    }
    header.search-expanded #header-top {
        padding-bottom: 28px;
    }
}

header {
    background: @black;

    .logo {
        float: left;
        position: relative;
        z-index: 9999;

        @media (max-width:@screen-tb-max) {
            float: none;
            width: 270px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
            padding: 0 50px;

            img {
                max-width: 100%;
            }
        }
    }
    .lithium {
        margin: 16px 0 0 50px;

        @media (max-width:@screen-tb-max) {
            margin: 5px auto 0;
            display: block;
            width: 120px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-sm-min) {
        .logo img {
            width: 285px;
        }
        .lithium {
            width: 185px;
            margin-left: 30px;
        }
    }
    #icons {
        float: right;
    }
    #search-bar {
        display: inline-block;
        vertical-align: top;
        position: relative;
        z-index: 777;

        input[type="text"] {
            border: 1px solid #ddd;
            border-radius: 4px;
            height: 40px;
            width: 238px;
            padding: 5px 40px 5px 15px;
            font-size: 15px;
            font-weight: 300;
            .sans;
            background: url(/images/icon-search.png) 93% center no-repeat @white;
            color: #686868;
        }
        #search-icon {
            cursor: pointer;
            display: block;
            margin: 0 0 18px auto;

            @media (min-width:@screen-sm-min) {
                display: none;
            }
        }

        @media (max-width:@screen-md-max) and (min-width:@screen-sm-min) {
            input[type="text"] {
                width: 185px;
            }
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            display: block;
            text-align: right;
            margin-bottom: 10px;
        }
        @media (max-width:@screen-tb-max) {
            position: absolute;
            top: 25px;
            right: 20px;
            left: 20px;
            width: auto;

            input[type="text"] {
                cursor: pointer;
                width: 100%;
                webkit-transition: height 0.2s linear;
                -moz-transition: height 0.2s linear;
                -o-transition: height 0.2s linear;
                transition: height 0.2s linear;
                font-size: 16px;

                &.collapsed {
                    height: 0;
                    width: 0;
                    padding: 0;
                    border: 0;
                }
            }
        }
    }
    .social {
        display: inline-block;
        vertical-align: top;
        margin-right: 18px;

        @media (max-width:@screen-tb-max) {
            display: none;
        }
    }
    #main-nav {
        clear: both;
        float: left;
        margin: 14px 0 12px;

        ul.main-level {
            li {
                display: inline-block;
                padding: 0 38px 0 15px;
                position: relative;

                
                &.active a, a:hover, &:focus {
                    color: @red;
                }
                &.back {
                    display: none;
                }
                &:nth-child(2) {
                    padding-left: 0;

                    ul.sub-level {
                        @media (min-width:@screen-sm-min) {
                            left: -15px;
                        }
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
                ul.sub-level {
                    position: absolute;
                    z-index: 9999;
                    top: 100%;
                    background: @black;
                    overflow: hidden;
                    @media (min-width:@screen-sm-min) {
                        height: 0 !important;
                    }

                    li {
                        min-width: 100%;
                        white-space: nowrap;
                        padding: 0;

                        a {
                            display: block;
                            color: @white;
                            width: 100%;
                            font-size: 15px;
                            border-bottom: 1px solid #d6d6d6;
                            padding: 3px 15px;
                        }
                        a:hover, a:focus {
                            color: @red;
                        }
                    }
                }
            }
            @media (min-width:@screen-sm-min) {
                li.parent:hover, li.parent:focus {
                    > ul.sub-level {
                        height: auto !important;
                    }
                }
            }
        }
        a {
            display: block;
            .sans;
            .antialiased;
            font-weight: 400;
            font-size: 18px;
            text-transform: uppercase;
            color: @white;
            padding: 1px;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
        ul.main-level {
            @media (max-width:@screen-lg-max) and (min-width:@screen-lg-min) {
                li {
                    padding-right: 12px;
                    a {
                        font-size: 16px;
                    }
                }
            }
            @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
                li {
                    padding-right: 3px;
                    padding-left: 8px;

                    a {
                        font-size: 16px;
                    }
                }
            }
            @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {

                li {
                    padding-right: 5px;
                    padding-left: 5px;

                    a {
                        font-size: 12px;
                    }
                    ul.sub-level li a {
                        padding-left: 8px;
                        font-size: 13px;
                    }
                }
            }
        }
        @media (max-width:@screen-tb-max) {
            position: fixed;
            overflow-x: hidden;
            z-index: 9999;
            top: 0;
            left: 0;
            margin: 0;
            width: @mb-menu-width;
            height: 100%;
            background: #1d1d1d;
            webkit-transition: left 0.35s linear;
            -moz-transition: left 0.35s linear;
            -o-transition: left 0.35s linear;
            transition: left 0.35s linear;

            ul.main-level li {
                padding: 0;
                display: block;
                background: @black;

                &.expanded {
                    background: @red;

                    a {
                        color: @white;
                        border-color: transparent;
                    }
                    ul.sub-level {
                        height: auto;
                        webkit-transition: height 0.2s linear;
                        -moz-transition: height 0.2s linear;
                        -o-transition: height 0.2s linear;
                        transition: height 0.2s linear;
                    }
                }
                &.active a {
                    color: @white;
                }
                &:last-child a {
                    border-bottom: none;
                }
                ul.sub-level {
                    height: 0;
                    position: relative;
                    webkit-transition: height 0.2s linear;
                    -moz-transition: height 0.2s linear;
                    -o-transition: height 0.2s linear;
                    transition: height 0.2s linear;

                    li {
                        background: #ebebeb;
                        white-space: normal;

                        a {
                            color: @black;
                            padding: 10px 0 6px;
                            width: 220px;
                            border-bottom: 1px solid #f1f1f1;
                            border-top: 1px solid #dadada;

                            &.active, &:hover, &:focus {
                                background: none;
                                border-bottom: 1px solid #f1f1f1;
                                border-top: 1px solid #dadada;
                            }
                        }
                    }
                }
            }
            a {
                display: block;
                margin-left: 15px;
                border-bottom: 1px solid #1d1d1d;
                border-top: 1px solid #3D3D3D;
                padding: 10px 0 6px;
                color: @white;
                text-shadow: none;
                font-size: 16px;

                &.active, &:hover, &:focus {
                    border-bottom: 1px solid #1d1d1d;
                    border-top: 1px solid #3D3D3D;
                    color: @red;
                }
            }
            &.collapsed {
                left: @mb-menu-offset;
            }
        }
    }
    #nav-toggle-box {
        padding: 19px 20px 24px;
        position: absolute;
        top: 6px;
        left: 0;
        z-index: 888;
        box-sizing: content-box;
        width: 28px;
        height: 29px;

        @media (min-width:@screen-sm-min) {
            display: none;
        }
    }
    #nav-toggle {
        cursor: pointer;
        width: 28px;
        text-align: center;

        span {
            display: block;
            background: @white;
            width: 100%;
            height: 3px;
            margin-bottom: 3px;
        }
        h6 {
            .sans;
            font-size: 11px;
            color: @white;
        }
    }
    #backdrop {
        background: transparent;
        z-index: 8888;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;

        &.collapsed {
            display: none;
        }
    }
}
footer {
    background: url(/images/bg-red.jpg) 0 0 repeat @red;
    background-size: cover;
    padding: 25px 0;
    border-bottom: 15px solid @black;

    a, span {
        color: @white;
        .sans;
        font-size: 22px;
        display: inline-block;
        margin: 20px 25px 0;
        vertical-align: top;
    }
    a:hover, a:focus {
        color: @white;
    }
    .logo {
        margin: 0 30px 0 0;
    }
    .policy {
        float: right;
        font-size: 18px;
        margin: 24px 0 0;
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        a, span {
            margin: 14px 15px 0;
            font-size: 18px;
        }
        .logo {
            margin-right: 15px;

            img {
                width: 170px;
            }
        }
        .policy {
            font-size: 16px;
            margin-top: 15px;
        }
    }
    @media (max-width:@screen-tb-max) {
        border-bottom: 7px solid @black;
        padding: 10px 0 15px;
        text-align: center;

        .social {
            display: block;

            li a {
                margin: 10px 0;
            }
        }
        span {
            margin: 0;
        }
    }
}
.footer-above {
    background: #ebebeb;
    padding: 20px 0 15px;
    border-top: 7px solid @black;

    .half {
        width: 50%;
        display: inline-block;

        .btn {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            text-align: center;
        }
        &:first-child {
            padding-right: 15px;
        }
        &:last-child {
            padding-left: 15px;
        }
    }
    p {
        margin: 20px 0 0;
        text-align: center;

        a {
            color: @black;
            font-size: 15px;
            text-decoration: underline;
            display: inline-block;
            margin: 0 10px;
        }
    }
}
.banner {
    margin-bottom: 30px;
    img {
        width: 100%;
    }
    @media (max-width: @screen-mb-max) {
        position: relative;
        margin-bottom: 15px;

        .headline {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px 0;
            text-align: center;
            background: url(/images/overlay-bg.png) 0 0 no-repeat;
            background-size: cover;

            h4 {
                .sans2;
                font-weight: 800;
                color: @white;
                font-size: 25px;
                max-width: 315px;
                margin: 8px auto 0;
                line-height: 1.1em;
            }
            img {
                max-width: 100%;
                width: auto;
            }
        }
    }
}
ul.subline {
    margin-bottom: 30px;
    padding-left: 15px;

    li {
        list-style: none;
        padding-left: 33px;
        margin-bottom: 10px;
        .sans2;
        color: @black;
        font-weight: 800;
        font-size: 20px;
        line-height: 1.2em;
        background: url(/images/bullet.png) 0 0 no-repeat;
    }
}
.banner-red {
    background: @red;
    text-align: center;
    padding: 30px 0;

    h5 {
        color: @white;
        .sans2;
        font-size: 58px;
        .antialiased;
    }
    h6 {
        color: @white;
        .sans2;
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 800;
        .antialiased;
        margin: 15px 0 0;
    }
    @media (max-width:@screen-tb-max) {
        h5 {
            font-size: 32px;
        }
        h6 {
            font-size: 20px;
        }
    }
}
.spot-marketing {
    margin-bottom: 30px;
    .item {
        background: url(/images/bg-gray.jpg) 0 0 no-repeat #f6f6f6;
        background-size: cover;
        text-align: center;
        padding-bottom: 45px;

        h3 {
            .sans2;
            color: @black;
            font-size: 42px;
            position: relative;
            padding: 20px 0;
            text-align: center;
        }
        .img-holder {
            position: relative;
        }
        img {
            width: 100%;
        }
        .tool {
            width: auto;
            position: absolute;
        }
        #string {
            top: 12px;
            top: 4.2%;
            left: 10px;
            left: 2.4%;
            width: 97.5%;
        }
        #blower {
            top: 27px;
            top: 9.6%;
            left: 30px;
            left: 7.2%;
            width: 86%;
        }
        #hedge {
            top: -24px;
            top: -8.5%;
            left: 22px;
            left: 5.3%;
            width: 99.2%;
        }
        .btn {
            margin-top: 40px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
        .item {
            h3 {
                font-size: 32px;
            }
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        .item {
            h3 {
                font-size: 25px;
            }
        }
    }
    @media (max-width:@screen-tb-max) and (min-width:@screen-tb-min) {
        margin-bottom: 20px;
        .item {
            h3 {
                font-size: 24px;
            }
        }
    }
    @media (max-width:@screen-mb-max) {
        margin-bottom: 20px;
        .item {
            h3 {
                font-size: 30px;
            }
        }
    }
}
#professional-grade {
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 42px 0;
        font-size: 75px;
        color: @white;
        .sans2;
        background: url(/images/overlay-bg.png) 0 0 no-repeat;
        background-size: cover;
        .antialiased;

        @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
            font-size: 60px;
            padding: 30px 0;
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            font-size: 50px;
            padding: 20px 0;
        }
        @media (max-width:@screen-tb-max) and (min-width:@screen-tb-min) {
            font-size: 30px;
            padding: 12px 0;
        }
        @media (max-width:@screen-mb-max) {
            font-size: 34px;
            padding: 20px 30px;
        }
    }
    img {
        width: 100%;
    }
}
#professional-durability {
    background: url(/images/bg-diamonds-fade2.jpg) center 0 repeat-x @white;
    background-size: auto 100%;
    padding: 35px 0;
    min-height: 534px;

    img.tool.desktop {
        float: right;
    }
    h1 {
        .stroke(@red);
        .sans2;
        color: @white;
        font-size: 70px;
        text-transform: uppercase;
        margin: 20px 0 15px;
    }
    h4 {
        .sans2;
        color: @black;
        font-size: 44px;
        text-transform: uppercase;
        margin-bottom: 45px;
    }
    .btn {
        margin-left: 40px;
        padding: 14px 40px;
    }
    @media (min-width:@screen-xl-min) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @media (max-width:@screen-lg-max) and (min-width:@screen-lg-min) {
        min-height: 514px;
        img.tool {
            width: 30%;
        }
        h1 {
            font-size: 60px;
        }
        h4 {
            font-size: 36px;
        }
        img.sign {
            width: 400px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-sm-min) {
        min-height: 440px;
        img.tool {
            width: 30%;
        }
        h1 {
            font-size: 48px;
        }
        h4 {
            font-size: 30px;
        }
        img.sign {
            width: 315px;
        }
        .btn {
            margin-left: 30px;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        min-height: 378px;
        img.sign {
            width: 260px;
        }
    }
    @media (max-width:@screen-tb-max) {
        text-align: center;
        padding: 25px 0 80px;
        background: url(/images/bg-diamonds-fade2.jpg) 8% bottom repeat-x #ffffff;
        background-size: 1000px auto;

        h1 {
            font-size: 36px;
            margin: 0 0 15px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 15px;
        }
        img.sign {
            width: 240px;
            max-width: 100%;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        img.tool {
            width: 240px;
            max-width: 100%;
            margin-top: 24px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .btn {
            margin: 20px 0 0;
        }
    }
}
#accessories {
    position: relative;
    border-bottom: 22px solid @green;

    img {
        width: 100%;
    }
    .text {
        position: absolute;
        top: 80px;
        top: 8.3%;
        left: 65px;
        left: 4.8%;
        width: 500px;
        width: 36.6%;
        text-align: center;
    }
    h1 {
        font-size: 86px;
        .sans2;
        color: @red;
        margin-bottom: 40px;

        strong {
            text-transform: uppercase;
            font-weight: 900;
        }
    }
    h4 {
        font-size: 20px;
        .sans2;
        color: @black;
        text-transform: uppercase;
    }
    .btn {
        padding: 14px 30px;
    }
    @media (max-width:@screen-lg-max) and (min-width:@screen-lg-min) {
        h1 {
            font-size: 75px;
        }
    }
    @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
        h1 {
            font-size: 60px;
            margin-bottom: 20px;
        }
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h1 {
            font-size: 48px;
            margin-bottom: 15px;
        }
    }
    @media (max-width:@screen-tb-max) {
        background: url(/images/bg-gray2.jpg) 0 bottom no-repeat;
        background-size: 100% 971px;
        text-align: center;
        padding-bottom: 55px;

        .text {
            position: static;
            width: 100%;
        }
        h1 {
            font-size: 34px;
            line-height: 1.15em;
            margin-bottom: 20px;

            strong {
                display: block;
            }
        }
        h4 {
            max-width: 225px;
            margin: 10px auto 25px;
            min-height: 40px;
            line-height: 1.25em;
        }
        img {
            width: auto;
            max-width: 100%;
        }
    }
}
#faqs {
    padding: 50px 0 75px;
    background: url(/images/bg-diamonds-fade.jpg) center 0 repeat-x @white;
    background-size: auto 100%;
    text-align: center;

    h2 {
        color: @red;
        font-size: 60px;
        .sans2;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    ul {
        text-align: left;

        li {
            list-style: none;
            margin-bottom: 12px;
            .antialiased;

            strong {
                color: @green;
                display: block;
                font-size: 30px;
                font-weight: 900;
            }
        }
    }
    .btn {
        padding: 14px 65px;
        margin-top: 33px;
    }
    @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
        h2 {
            font-size: 50px;
            margin-bottom: 20px;
        }
        ul {
            li {
                strong {
                    font-size: 26px;
                }
            }
        }
    }
    @media (max-width:@screen-tb-max) {
        padding: 25px 0 90px;
        background: url(/images/bg-diamonds-fade.jpg) 8% bottom repeat-x #ffffff;
        background-size: 1000px auto;

        h2 {
            font-size: 28px;
            margin-bottom: 15px;
        }
        ul {
            li {
                font-size: 18px;

                strong {
                    font-size: 20px;
                }
            }
        }
        .btn {
            margin-top: 20px;
        }
    }
}
#accessories-page, #faqs-page, #contact-page, #technical-documents-page, #product-registration-page {
    .main {
        background: url(/images/bg-trees.jpg) center top no-repeat;
    }
}
#accessories-page {
    .main {
        padding-bottom: 100px;

        @media (max-width:@screen-tb-max) {
            padding-bottom: 30px;
        }
    }
    .fade-top {
        margin-bottom: 50px;
    }
    .accessory {
        img {
            max-width: 100%;
        }
        p {
            margin-bottom: 30px;
        }
        h5 {
            .sans2;
            font-size: 25px;
            color: @black;
            text-align: left;
            text-transform: uppercase;
        }
        ul {
            margin: 10px 0 60px;

            li {
                font-weight: 400;
                font-size: 25px;
                list-style: none;
                padding-left: 16px;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    background: @black;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                }
            }
        }
        @media (max-width:@screen-sm-max) {
            text-align: center;
            box-shadow: 0 10px 20px rgba(0,0,0,0.07);
            margin-bottom: 30px;

            &:last-child {
                box-shadow: none;
                margin-bottom: none;
            }
            h3 {
                max-width: 225px;
                margin-left: auto;
                margin-right: auto;
            }
            p, ul {
                text-align: left;
            }
        }
        @media (max-width:@screen-tb-max) {
            h5 {
                font-size: 20px;
                margin-top: 20px;
            }
            ul {
                margin-bottom: 45px;

                li {
                    font-size: 18px;
                    padding-left: 12px;

                    &:before {
                        top: 8px;
                        height: 6px;
                        width: 6px;
                    }
                }
            }
        }
    }
}
#faqs-page {
    .main {
        padding-bottom: 100px;

        @media (max-width:@screen-tb-max) {
            background-position: center top;
            padding-bottom: 65px;
        }
    }
    .question {
        box-shadow: 0 10px 20px rgba(0,0,0,0.07);
        padding-bottom: 30px;
        margin-bottom: 30px;

        &:last-child {
            box-shadow: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        h3 {
            text-transform: none;
        }
        p {
            margin-bottom: 0;
        }
    }
    .spot-marketing {
        margin-top: 35px;
    }
}
#contact-page {
    .main {
        padding-bottom: 100px;

        @media (max-width:@screen-tb-max) {
            background-position: center top;
            padding-bottom: 65px;
        }
    }
    .section {
        margin-bottom: 50px;
        h2 {
            .sans2;
            color: @black;
            font-size: 27px;
            font-weight: 800;
            margin-bottom: 0;

            strong {
                font-size: 36px;
                font-weight: 900;
            }
            span {
                display: inline-block;
                margin: 0 10px 0 6px;
            }
            @media (max-width:@screen-tb-max) {
                font-size: 22px;

                strong {
                    font-size: 26px;
                }
            }
        }
        h3 {
            text-transform: none;
        }
        p, li {
            font-size: 25px;
            margin: 0;

            a {
                color: @red;
                text-decoration: underline;
            }
            strong {
                font-weight: 900;
            }
            @media (max-width:@screen-tb-max) {
                font-size: 18px;
            }
        }
        ul {
            margin-top: 15px;

            li {
                list-style: none;
                padding-left: 16px;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 12px;
                    background: @black;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                }
            }
            @media (max-width:@screen-tb-max) {
                li {
                    padding-left: 12px;

                    &:before {
                        top: 8px;
                        height: 6px;
                        width: 6px;
                    }
                }
            }
        }
        .phone-numbers {
            margin: 4px 0 25px;

            h6 {
                .sans2;
                font-weight: 800;
                color: @red;
                font-size: 27px;
                .antialiased;
                text-transform: uppercase;

                span {
                    color: @black;
                }
                strong {
                    font-weight: 900;
                }
            }
            @media (max-width:@screen-tb-max) {
                h6 {
                    font-size: 22px;
                }
            }
        }
    }
}
#technical-documents-page {
    .main {
        padding-bottom: 100px;
        min-height: 585px;

        @media (max-width:@screen-tb-max) {
            background-position: center top;
            padding-bottom: 65px;
        }
        input[type="text"] {
            width: 100%;
            background: #e7e7e7;
            display: inline-block;
            box-shadow: 0 6px 0 #d1d1d1;
            border-radius: 5px;
            padding: 15px 20px 4px;
            border: none;
            .sans2;
            font-weight: 400;
            color: #5b5b5b;
            font-size: 25px;
            line-height: 1em;

            &::-webkit-input-placeholder {
               color: #5b5b5b;
            }

            &:-moz-placeholder {
               color: #5b5b5b;  
            }

            &::-moz-placeholder {
               color: #5b5b5b;  
            }

            &:-ms-input-placeholder {  
               color: #5b5b5b;  
            }
        }
        .btn {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
            .btn {
                font-size: 13px;
            }
        }
        @media (max-width:@screen-sm-max) {
            input {
                margin-bottom: 25px;
            }
        }
        @media (max-width:@screen-sm-max) {
            h2 {
                font-size: 26px;
            }
        }
        @media (max-width:@screen-mb-max) {
            .btn {
                font-size: 13px;
            }
        }
    }
}
.required {
    &:before {
        content: "*";
        color: @red;
    }
}
#product-registration-page {
    h5 {
        .sans2;
        color: @red;
        font-size: 25px;
        font-weight: 400;
        display: inline-block;
    }
    form {
        overflow: hidden;
        clear: both;
        margin-top: 50px;
        padding-bottom: 100px;

        @media (max-width:@screen-tb-max) {
            margin-top: 15px;
        }
    }
    label {
        display: block;
        clear: both;
        padding: 40px 0 15px;

        @media (max-width:@screen-tb-max) {
            padding: 35px 0 0 !important;
            line-height: 1.3em;
        }
    }
    span.required {
        float: right;
    }
    .required, label, p, input[type="radio"] + span, input[type="checkbox"] + span, .chosen-results li {
        .sans2;
        color: @black;
        font-size: 25px;
        font-weight: 400;

        @media (max-width:@screen-lg-max) and (min-width:@screen-lg-min) {
            font-size: 24px;
        }
        @media (max-width:@screen-md-max) and (min-width:@screen-sm-min) {
            font-size: 19px;
        }
    }
    label.inline {
        .make-sm-column(3);
        @media (min-width:@screen-sm-min) {
            text-align: right;
            clear: both;
            vertical-align: middle;
            line-height: 60px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    label.inline + input, label.inline + .chosen-wrap {
        .make-sm-column(9);
    }
    .double {
        label.inline {
            .make-sm-column(3);
            clear: none;
        }
        .chosen-wrap + label.inline {
            .make-sm-column(1);
        }
        label.inline + input, label.inline + .chosen-wrap {
            .make-sm-column(4);
        }
    }
    .chosen-wrap {
        padding: 0 !important;
        border: none;
    }
    .chosen-container {
        width: 100% !important;
        border: none !important;

        .chosen-single {
            height: 100%;
            background: @white;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: none;
            height: 60px;

            span {
                line-height: 60px;
            }
            b {
                background: none;
                border-top: 6px solid #d3d3d3;
                border-bottom: 6px solid transparent;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                top: 25px;
                right: 15px;
            }
        }
        .chosen-search {
            input[type="text"] {
                height: auto;
                margin-bottom: 1px;
                color: @black;
            }
        }
        .chosen-drop {
            border: 1px solid #dddddd;
            border-top: none;
            border-radius: 0 0 5px 5px;
        }
        .chosen-results li {
            line-height: 30px;

            &.highlighted {
                color: @white;
                background: @red; /* Old browsers */
                background: -moz-linear-gradient(top,  @red 20%, @darkred 90%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,@red), color-stop(90%,@darkred)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, @red 20%,@darkred 90%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, @red 20%,@darkred 90%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, @red 20%,@darkred 90%); /* IE10+ */
                background: linear-gradient(to bottom, @red 20%,@darkred 90%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e31937', endColorstr='#b7071f',GradientType=0 ); /* IE6-9 */
            }
        }
        &.chosen-with-drop {
            box-shadow: 0 4px 5px rgba(0,0,0,.15);

            .chosen-single {
                border-radius: 5px 5px 0 0;
            }
        }
    }
    input[type="text"], input[type="email"], input[type="tel"], .chosen-container .chosen-single span, select {
        height: 60px;
        width: 100%;
        color: #979797;
        .sans2;
        font-size: 22px;
        font-weight: 400;
        text-transform: none;
        vertical-align: middle;

        @media (max-width:@screen-md-max) and (min-width:@screen-sm-min) {
            font-size: 18px;
        }
    }
    input[type="text"], input[type="email"], input[type="tel"], .chosen-container, select {
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: none;
        background: @white;

        @media (max-width:@screen-tb-max) {
            margin-bottom: 0;
        }
    }
    input[type="radio"], input[type="checkbox"] {
        margin: 0 5px 3px;
        vertical-align: middle;
        zoom: 1.2;
        height: 25px;
        width: 25px;
    }
    input[type="radio"] + span, input[type="checkbox"] + span {
        margin: 0 20px 0 10px;
        vertical-align: middle;
    }
    input[type="submit"] {
        clear: both;
        float: left;

        @media (max-width:@screen-tb-max) {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .box {
        .make-lg-column(3);
        .make-sm-column(4);
        padding: 0;

        &:nth-child(3n+1) {
            @media (min-width:@screen-lg-min) {
                clear: both;
            }
        }
    }
    p {
        clear: both;
        float: left;
        margin: 75px 0 35px;

        a {
            color: @red;
            text-decoration: underline;
        }
        &.sidenote {
            margin: 0;

            @media (max-width:@screen-sm-max) {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
            @media (min-width:@screen-md-min) {
                line-height: 60px;
                vertical-align: middle;
            }
            @media (max-width:@screen-tb-max) {
                margin-top: 25px;
            }
        }
    }
}
.tool-page {
    .banner {
        position: relative;
        text-align: center;

        h4 {
            font-size: 30px;

            strong {
                display: block;
                font-size: 52px;
                line-height: 1em;
            }
        }
        @media (min-width:@screen-sm-min) {
            .btn {
                position: absolute;
                bottom: 40px;
                left: 40%;
            }
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            .btn {
                bottom: 20px;
            }
        }
        @media (max-width:@screen-tb-max) {
            .btn {
                margin-top: 20px;
            }
        }
    }
    .spot-marketing {
        text-align: center;
        background: url(/images/bg-diamonds-fade2.jpg) center bottom repeat-x #ffffff;
        background-size: auto 100%;
        padding: 10px 0 70px;

        h2 {
            .sans2;
            color: @black;
            font-size: 66px;
            text-transform: uppercase;
            margin-bottom: 10;
        }
        h4 {
            .sans2;
            color: @black;
            font-size: 44px;
            text-transform: uppercase;
        }
        img {
            max-width: 100%;
        }
        .price-stamps {
            margin: 35px 0;
        }
        .video {
            margin-bottom: 20px;
            position: relative;
            display: block;

            .play {
                position: absolute;
                background: rgba(255,255,255,0.73);
                padding: 5% 6.1% 5.1% 7.3%;
                border-radius: 8px;
                width: 19.3%;
                height: 29.3%;
                left: 40.3%;
                top: 30%;
            }
            .screenshot {
                border: 15px solid #dcdcdc;
            }
        }
        .tile {
            border: 1px solid #e4e4e4;
        }
        @media (max-width:@screen-md-max) and (min-width:@screen-md-min) {
            h2 {
                font-size: 45px;
            }
            h4 {
                font-size: 30px;
            }
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            h2 {
                font-size: 45px;
            }
            h4 {
                font-size: 28px;
            }
        }
        @media (max-width:@screen-tb-max) {
            background: url(/images/bg-diamonds-fade2.jpg) 8% bottom repeat-x #ffffff;
            background-size: 1000px auto;
            padding-top: 20px;

            .pull-right, .pull-left {
                width: 100%;
            }
            h2 {
                font-size: 40px;
                margin-top: 45px;
            }
            h4 {
                font-size: 27px;
            }
            .price-stamps {
                margin: 20px 0;
            }
        }
    }
    #accessories {
        text-align: center;
        background: url(/images/bg-gray3.jpg) 0 bottom no-repeat;
        background-size: 100% 100%;
        padding-bottom: 110px;

        h1 {
            font-size: 66px;
            text-transform: uppercase;

            span {
                display: block;
            }
        }
        h5 {
            font-size: 32px;
            .sans2;
            color: @black;
            text-transform: uppercase;
            max-width: 320px;
            margin: 0 auto;
        }
        .btn {
            margin-top: 60px;
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            h1 {
                font-size: 45px;
            }
            h5 {
                font-size: 28px;
                margin-top: 10px;
            }
        }
        @media (max-width:@screen-tb-max) {
            padding-bottom: 58px;

            h1 {
                font-size: 34px;
                line-height: 1em;
            }
            h5 {
                font-size: 20px;
                margin-bottom: 25px;
                max-width: 250px;
            }
            .btn {
                margin-top: 0;
            }
        }
    }
}
#dh2000-page {
    #professional-durability {
        @media (max-width:@screen-lg-max) and (min-width:@screen-sm-min) {
            .tool {
                width: 45%;
            }
        }
        @media (min-width:@screen-md-min) {
            .tool {
                margin-right: -10.4%;
            }
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            .tool {
                margin-right: -17%;
            }
        }
    }
}
#t3000-page {
    #professional-durability {
        @media (min-width:@screen-lg-min) {
            .tool {
                margin-left: -5%;
                margin-right: -11.5%;
            }
        }
        @media (max-width:@screen-lg-max) and (min-width:@screen-sm-min) {
            .tool {
                width: 45%;
            }
        }
        @media (min-width:@screen-md-min) and (max-width:@screen-md-max) {
            .tool {
                margin-right: -12.5%;
            }
        }
        @media (max-width:@screen-sm-max) and (min-width:@screen-sm-min) {
            .tool {
                margin-right: -15%;
            }
        }
        @media (max-width:@screen-tb-max) {
            .tool {
                width: auto;
                max-width: 100%;
                margin-right: -15px;
            }
        }
    }
}